/*自定义全局css，公用css*/

body, html{
    font-family: "Noto Sans Light" !important; /*默认思源黑体Apache开源协议字体*/
}
h1, h2{
    margin-top: 0;
    margin-bottom: 0;
}
h3, h4, h5, p{
    margin-top: 0;
    margin-bottom: 0;
}

.body{
    margin: 0;
    font-size: 14px;
}

.page-div{
    width: 100%;
    margin-top: 0;
}
.part-div{
    width: 100%;
}

/**/
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.center{
    text-align: center;
}

/**/
.radius-btn{
    border-radius: 5px;
}
.radius-block{
    border-radius: 10px;
}

/*字体大小*/
.font-mini{
    font-size: 12px;
}
.font-text{
    font-size: 14px;
}
.font-title{
    font-size: 18px;
}
.font-class{
    font-size: 22px;
}

/**/
.border-bottom{
    border-bottom: 1px solid #cccccc;
}
.border-bottom:last-child{
    border-bottom: 0 solid #cccccc;
}

/**/
.red{
    color: red !important;
}
.blue{
    color: dodgerblue !important;
}
.yellow{
    color: #EEC900 !important;
}
.green{
    color: lawngreen !important;
}
.black{
    color: black;
}
.grey{
    color: rgba(0,0,0,0.6) !important;
}

/**/
.transform-90{ /*带动画旋转90°*/
    transition: transform 0.5s;
    transform: rotateZ(90deg);
}
.transform-180{ /*带动画旋转180°*/
    transition: transform 0.5s;
    transform: rotateZ(180deg);
}

.transform-0{ /*还原位置*/
    transition: transform 0.5s;
    transform: rotateZ(0deg);
}

/**/
@media only screen and (max-width: 300px) {
    body:after{
        width: 700px; height: 100%;
        content:"页面宽度太小！";
        position:fixed; top: 0;
        text-align: left;
        padding: 0 0 0 20px;
        font-size: 24px; color: white; line-height: 400px;
        background: rgba(0,0,0,0.6);
        cursor: not-allowed;
        letter-spacing: 2px;
        z-index: 999900000;
    }
}

/**/
::selection { /*复制时的选中样式，猛男粉红*/
    color: #FCFCFC;
    background: #009688;
    outline: thick solid #FF0000;
}
::-moz-selection {
    color: #FCFCFC;
    background: #CD5C5C;
}

/**/
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}

/**/
.click-none{
    cursor: not-allowed;
    user-select: none;
}
.click{
    cursor: pointer;
    user-select: none;
}
.click:active{
    opacity: 0.7;
}
.click:hover{
    opacity: 0.7;
}

.hover:hover{
    opacity: 0.7;
    cursor: pointer;
}

/**/
.select-none{ /*禁止复制*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select-all{ /*复制任何*/
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
.select-text{ /*可复制文字*/
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.page-url-qrcode{
    text-align: center;
    padding: 10px 0;
}
.qr_img{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width: 120px;
}

.a-href{
    color: dodgerblue;
}
.a-href:hover{
    text-decoration: underline;
}
.a-href:active{
    color: skyblue;
}
.text-center {
    text-align: center;
}
.no-drop{
    cursor: no-drop;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/**/
.card-div{
    padding: 10px 10px;
    max-width: 1060px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 10px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}
.direct-list-div{
    font-size: 16px;
}
.content-box{
    padding-top: 60px;
    width: 100%;
}


/**/
.banner-img-div{
    width: 100%;
}
.banner-img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.swiper-lingo{
    position: absolute;
    top: 0;
    left: 80px;
    width: 220px;
    background: white;
    font-size: 18px;
    color: black;
    z-index: 99000;
    padding: 30px 30px;
    border-bottom-right-radius: 80px;
}
.swiper-lingo-title{
    font-size: 18px;
    color: #828282;
    padding-bottom: 20px;
}
.swiper-lingo-p{
    font-size: 32px;
}
