{{ define "pages/example-tpl.tmpl" }}
<!--教程文档：https://www.tizi365.com/archives/268.html -->


<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="google" content="notranslate"/>
    <title>Ginvel - html多模板输出</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link href="/static/css/page.css" rel="stylesheet"  />
    <script src="/static/js/page.js" type="javascript" charset="UTF-8"></script>
</head>
<body >
    <h2>Gin html多模板输出示例：</h3>
    <h4>说明：不推荐使用模板渲染数据，请走前后端分离的模板渲染数据（SEO渲染也走前後端分離）</h4>
    <h4>Href：{{ .url }}</h4>
    <h4 class="example-h4-1"></h4>
    <h4 class="example-h4-2"></h4>
    <script>
        ;(function (){
            document.getElementsByClassName("example-h4-1")[0].innerHTML = "Host："+location.host;
            document.getElementsByClassName("example-h4-2")[0].innerHTML = "Refer："+document.referrer;
            console.log("Ginvel - html - tmpl");
        })();
    </script>
</body>
</html>


<!--教程文档：https://www.tizi365.com/archives/268.html -->
{{ end }}