<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="google" content="notranslate"/>
  <title>Ginvel - WebSocket of Example</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
  <link href="/static/css/page.css" rel="stylesheet"  />
  <script src="/static/js/page.js" type="javascript" charset="UTF-8"></script>
</head>
<body>
<h2>WebSocket接口示例：</h2>
<h4 class="ws-h4-0"></h4>
<h4 class="ws-h4-1"></h4>
<h4 class="ws-h4-2"></h4>
<h4 class="ws-h4-3"></h4>
<script>
  ;(function (){
    let api = "ws://127.0.0.1:9500/ws/ping1";
    let ws = new WebSocket(api);

    document.getElementsByClassName("ws-h4-0")[0].innerHTML = "api="+api;
    //连接打开时触发
    ws.onopen = function(evt) {
      let info = "Connection open ...";
      document.getElementsByClassName("ws-h4-1")[0].innerHTML = info;

      ws.send("Hello WebSockets！href="+location.href +"；refer="+document.referrer+"。");
    };
    //接收到消息时触发，这里会循环运行
    ws.onmessage = function(evt) {
      let info = "Received Message: " + evt.data;
      let el = document.getElementsByClassName("ws-h4-2")[0];
      el.innerHTML = el.innerHTML + info+'<br/>';
    };
    //连接关闭时触发
    ws.onclose = function(evt) {
      let info = "Connection closed.";
      document.getElementsByClassName("ws-h4-3")[0].innerHTML = info;
    };
  })();
</script>
<script>
  ;(function (){
    console.log("Ginvel - html - ws - example");
  })();
</script>
</body>
</html>