/*
    局部模块css
*/

.body {
    width: 100%;
    min-width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #f5f5f5;
}

.content {
    min-height: 900px;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
}

.input-div {
    background: transparent;
    border-radius: 40px;
    width: calc(100% - 20px);
    margin-top: calc(3% + 50px);
    height: 50px;
    min-width: 300px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.select {
    height: calc(42px + 2px);
    width: 130px;
    font-size: 15px;
    color: #0078fe;
    letter-spacing: 0px;
    cursor: pointer;
    font-weight: 600;
    overflow: hidden;
    padding: 0 20px 0 8px;
    float: left;
    outline: none;
    border: 2px solid rgba(0, 120, 254, 0.3);
    border-radius: 42px;
    background-color: rgba(255, 255, 255, 0.8);
    text-indent: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align-last: center;
}

.input {
    height: 42px;
    line-height: 42px;
    width: calc(100% - 176px);
    letter-spacing: 1px;
    margin-left: 5px;
    font-size: 16px;
    color: #000000;
    padding: 0 15px;
    float: left;
    border-radius: 42px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
    border: 2px solid rgba(0, 120, 254, 0.3);
}

.search-style {
    display: block;
}

.clear {
    clear: both;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.input:focus {
    outline: none;
    border: 2px solid #0078fe;
}

.select:focus {
    outline: none;
    border: 2px solid #0078fe;
}

.input-div:after {
    position: absolute;
    left: 90px;
    top: 0;
    z-index: 1;
    height: 44px;
    width: 44px;
    line-height: 47px;
    pointer-events: none;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    border-radius: 44px;
    background: transparent;
}

.input-div-blur:after {
    content: "▼";
    transition: transform 0.5s;
    transform: rotateZ(0deg);
}

.input-div-focus:after {
    content: "▼";
    transition: transform 0.5s;
    transform: rotateZ(90deg);
}

.liner-color {
    background: linear-gradient(to right, red, blue);
    color: white;
}

.loading-div {
    position: fixed;
    z-index: 201901;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgba(232, 232, 232, 0.4)
}

.clear {
    clear: both
}

.select-none {
    user-select: none;
}

.click {
    cursor: pointer;
    user-select: none;
}

.click:active {
    opacity: 0.6;
}

.must-btn{
    font-weight: normal;
}

.more-btn{
    font-weight: normal;
    padding-top: 20px;
}

.search-btn-div {
    padding: 0 10px 10px 10px;
    text-align: center;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.search-btn-center {
    margin-top: 15px;
}

.search-btn-style {
    font-size: 15px;
    border-radius: 35px;
    display: block;
    width: calc(100%/3 - 20px - 1px);
    line-height: 38px;
    height: 38px;
    text-align: center;
    box-shadow: 0 0 5px rgba(60, 60, 60, 0.5);
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px solid #f5f5f5;
    letter-spacing: 1px;
    /*background: rgba(20, 20, 20, 0.8);*/
}

.search-btn-style:hover {
    opacity: 0.8;
}

.tips-div {
    font-size: 16px;
    color: #CD5C5C;
    height: 50px;
    text-align: center;
    line-height: 22px;
    padding: 10px 10px;
}

.res-txt {
    height: 44px;
    overflow: hidden;
}

.content-bg {
    position: fixed;
    z-index: 80;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.zoom-80 {
    zoom: 0.8;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.div-qr {
    padding: 5px 5px;
    border-radius: 3px;
    background: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    width: 101px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: calc(40px);
    opacity: 0.8;
}

.div-qr-box {
    background-size: calc(100% - 20px);
    width: 101px;
    height: 101px;
    border-radius: 1px;
}

.bg-light {
    background: #ffffff !important;
    color: #4c4c4c;
}

.bg-black {
    background: #101010 !important;
    color: #dddddd;
}

.bg-yellow {
    background: #F5F5D5 !important;
    color: #4c4c4c;
}

.bg-ivory {
    background: #FFFFF0 !important;
    color: #4c4c4c;
}

.select-color-light {
    background: rgba(241, 241, 241, 0.8) !important;
    color: #0078fe;
}

.input-color-light {
    background: rgba(241, 241, 241, 0.8) !important;
    color: #0078fe;
}

.select-color-black {
    background: rgba(20, 20, 20, 0.8) !important;
    color: #dddddd;
}

.input-color-black {
    background: rgba(20, 20, 20, 0.8) !important;
    color: #dddddd;
}

.select-color-yellow {
    background: rgba(245, 245, 213, 0.8) !important;
    color: #0078fe;
}

.input-color-yellow {
    background: rgba(245, 245, 213, 0.8) !important;
    color: #0078fe;
}

.select-color-ivory {
    background: rgba(255, 255, 240, 0.8) !important;
    color: #0078fe;
}

.input-color-ivory {
    background: rgba(255, 255, 240, 0.8) !important;
    color: #0078fe;
}

.body::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.body {
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}

.div-time {
    text-align: center;
    min-height: 44px;
    line-height: 44px;
    letter-spacing: 1px;
    padding-top: 135px;
    padding-bottom: 140px;
}

.div-time-span {
    padding-right: 8px;
}

.div-time-hour {
    font-size: 36px;
    opacity: 1;
    letter-spacing: 2px;
}

.div-time-date {
    font-size: 18px;
    opacity: 0.7;
}

@media screen and (max-width: 480px) {
    .input-div{
        margin-top: calc(3% + 20px);
    }
    .content {
        zoom: 0.95;
    }
    /*.div-time {*/
    /*    display: none;*/
    /*}*/
}

.input-history-div{
    padding: 10px 30px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    min-height: 29px;
}
.history-span{
    font-size: 15px;
    border-radius: 20px;
    line-height: 24px;
    margin-right: 20px;
    display: inline-block;
    max-width: 240px;
    max-height: 24px;
    overflow: hidden;
}
.history-span:active{
    text-decoration: underline;
}
.history-span:hover{
    font-weight: 700;
    text-decoration: underline;
}

.swiper-container{
    padding-bottom: 55px;
    opacity: 0.8;
}
.swiper-slide{
    min-height: 300px;
}
/*.swiper-pagination{*/
/*    z-index: 2000;*/
/*}*/
/*.swiper-button-next{*/
/*    z-index: 2200;*/
/*}*/
/*.swiper-button-prev{*/
/*    z-index: 2200;*/
/*}*/
/*.swiper-pagination-bullet {*/
/*    margin: 0 5px;*/
/*    background-color: lightblue;*/
/*}*/
/*.swiper-pagination-bullet-active {*/
/*   background-color: deepskyblue;*/
/*}*/
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    background: lightgray;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    color: #000;
    background: deepskyblue;
}
